.about-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 54px rgba(1, 1, 34, 0.4);
}
.contact-info{
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
}
.contact-info p{
    margin: 0.3em;
    font-size: 20px;
}
.contact-info h3{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact .contact-form{
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 2em;
    border: 2px solid rgb(211, 209, 209);
    background-color: rgba(255, 255, 255, 0.7);
}
.contact .contact-form input{
    height: 3em;
    margin: 2em;
    width: 50%;
    background: transparent;
    outline: none;
    border: 2px solid rgb(211, 209, 209);
    color: black;
}
.contact .contact-form textarea{
    background: transparent;
    outline: none;
    margin: 1.5em;
    border: 2px solid rgb(211, 209, 209);
    color: black;
}
.contact .contact-form button{
    padding: 1em;
    width: 8em;
}

@media (max-width: 950px){
    .about-contact{
        flex-direction: column;
    }
}
@media (max-width: 660px){
    .about-contact .contact-info iframe{
        width: 500;
    }
    .contact .contact-form input{
        height: 3em;
        margin: 1em;
        width: 90%;
    }
}