.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../../assets/elephants.jpg);
    width: 100%;
    height: 70vh;
    object-fit: contain;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.hero p{
    padding: 0.9em 2em;
    border: 2px solid rgb(10, 245, 128);
    border-radius: 5px;
}
.hero p:hover{
    transform: scale(110%);
    transition: ease-in-out 0.5s;
}
.hero h3{
    font-size: 2em;
}
.icons{
    display: flex;
}
.icons p{
    padding: 0.3em;
    margin: 1em;
    font-size: 40px;
    border: 2px solid rgb(10, 245, 128);
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.icons p:hover{
    transform: scale(110%);
    transition: ease-in-out 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
}
.about{
    padding: 2em;
    line-height: 2;
}
.about-sections{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about-box{
    margin: 0.8em;
    padding: 1em;
    border: 1px solid rgb(10, 245, 128);
    border-radius: 5px;
    background-color: rgb(233, 233, 241);
}
.about .about-sections .about-box h6{
    background-color: aquamarine;
    padding: 0.5em;
}
.about .about-sections .about-box:hover{
    box-shadow: 10px 10px 54px rgba(121, 121, 124, 0.4);
}
.about .about-sections .about-box:nth-child(2) h6{
    background-color: rgb(234, 127, 255);
}
.about .about-sections .about-box:nth-child(3) h6{
    background-color: rgb(153, 255, 127);
    padding: 0.5em;
}
.about .about-sections .about-box:nth-child(4) h6{
    background-color: rgb(13, 225, 233);
    padding: 0.5em;
}
.about .about-sections .about-box:nth-child(5) h6{
    background-color: rgb(96, 23, 180);
    padding: 0.5em;
}
.about .about-sections .about-box:nth-child(6) h6{
    background-color: #e1a789;
    padding: 0.5em;
}
.about .about-sections .about-box:hover h6{
    background-color: grey;
}
.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.features .featured-destination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 1em;
    padding: 2.5px;
    border-radius: 15px;
    background-color: rgb(233, 233, 241);
    box-shadow: 10px 10px 54px rgba(1, 1, 34, 0.4);
}
.reverse{
    flex-direction: row-reverse;
}
.featured .featured-destination img{
    position: relative;
    object-fit: contain;
    width: 50%;
    border-radius: 15px 15px 15px 15px;
}
.featured .featured-destination:hover img{
    transform: scale(104%);
    transition: ease-in-out 0.5s;
}
.featured .featured-destination p{
    padding: 0.1em;
}
.featured .featured-destination .rating{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured .featured-destination .rating p{
    padding: 0;
    margin: 0;
    color: gold;
}
.pagination{
    display: flex;
}
.pagination a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    margin: 0.5em;
    font-size: 20px;
    background-color: #088178;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonies-wrapper{
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5em;
    background-color: rgb(232, 241, 237);
    border-radius: 2em;
}
.testimony-item{
    margin: 15px;
    padding: 0 2em;
    background: linear-gradient(rgb(149, 170, 159), rgb(253, 251, 251));
    border-radius: 1em;
    box-shadow: 10px 10px 54px rgba(1, 1, 34, 0.4);
}
.testimonial .testimonies-wrapper .testimony-item img{
    height: 6em;
    width: 6em;
    border-radius: 50%;
    /* transform: translateY(-50%);
    margin-bottom: -50px; */
}
.testimonial .testimonies-wrapper .testimony-item:hover img{
    transform: translateY(-50%);
    margin-bottom: -50px;
    transition: ease-in-out 0.5s;
}

@media (max-width: 820px){
    *{
        box-sizing: border-box;
    }
    .icons p{
        margin: 0.5em;
    }
    .testimonies-wrapper{
        flex-wrap: wrap;
    }
    .testimony-item{
        width: 45%;
    }
    .features{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .featured-destination{
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        padding: 0px;
    }
    .featured .featured-destination img{
        width: 100%;
    }
}

@media (max-width: 755px){
    .features .featured-destination{
        width: 45%;
        margin: 0.5em;
        padding: 2px;
    }
    .testimonies-wrapper{
        position: relative;
        width: 98%;
        padding: 1em;
    }
    .testimony-item{
        margin: 5px;
        padding: 0 1em;
    }
}
@media (max-width: 490px){
    .about{
        padding: 1em;
        line-height: 2;
    }
    .about-box{
        margin: 0.3em;
        padding: 0.5em;
    }
}