.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../../assets/elephants.jpg);
    width: 100%;
    height: 70vh;
    object-fit: contain;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.hero p{
    padding: 0.9em 2em;
    border: 2px solid rgb(10, 245, 128);
    border-radius: 5px;
}
.hero p:hover{
    transform: scale(110%);
    transition: ease-in-out 0.5s;
}
.hero h3{
    font-size: 2em;
}
.icons{
    display: flex;
}
.icons p{
    padding: 0.3em;
    margin: 1em;
    font-size: 40px;
    border: 2px solid rgb(10, 245, 128);
    border-radius: 50%;
    display: grid;
    place-content: center;
}
.icons p:hover{
    transform: scale(110%);
    transition: ease-in-out 0.5s;
    background-color: rgba(255, 255, 255, 0.2);
}
.about{
    padding: 2em;
    line-height: 2;
}
.about-sections{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-box{
    margin: 1em;
    padding: 1em;
    border: 1px solid rgb(10, 245, 128);
    border-radius: 5px;
    background-color: rgb(233, 233, 241);
}
.about .about-sections .about-box h6{
    background-color: aquamarine;
    padding: 0.5em;
}
.about .about-sections .about-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
.about .about-sections .about-box:nth-child(2) h6{
    background-color: rgb(234, 127, 255);
}
.about .about-sections .about-box:nth-child(3) h6{
    background-color: rgb(153, 255, 127);
    padding: 0.5em;
}
.about .about-sections .about-box:nth-child(4) h6{
    background-color: rgb(13, 225, 233);
    padding: 0.5em;
}
.about .about-sections .about-box:nth-child(5) h6{
    background-color: rgb(96, 23, 180);
    padding: 0.5em;
}
.about .about-sections .about-box:nth-child(6) h6{
    background-color: #e1a789;
    padding: 0.5em;
}
.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features {
    display: flex;
    flex-wrap: wrap;
}
.features .featured-destination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 2em;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(233, 233, 241);
    box-shadow: 10px 10px 54px rgba(1, 1, 34, 0.4);
}
.reverse{
    flex-direction: row-reverse;
}
.featured .featured-destination img{
    position: relative;
    object-fit: contain;
    width: 50%;
    border-radius: 15px 15px 15px 15px;
}
.featured .featured-destination p{
    padding: 0.1em;
}
.featured .featured-destination .rating{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured .featured-destination .rating p{
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 0, 0.733);
}
.pagination{
    display: flex;
}
.pagination a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8em;
    margin: 0.5em;
    font-size: 20px;
    background-color: #088178;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonies-wrapper{
    position: relative;
    overflow: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5em;
    background-color: rgb(232, 241, 237);
    border-radius: 2em;
}
.testimony-item{
    margin: 15px;
    padding: 0 2em;
    width: 20%;
    background: linear-gradient(rgb(149, 170, 159), rgb(253, 251, 251));
    border-radius: 1em;
    box-shadow: 10px 10px 54px rgba(1, 1, 34, 0.4);
}
.testimonial .testimonies-wrapper .testimony-item img{
    height: 6em;
    width: 6em;
    border-radius: 50%;
    transform: translateY(-50%);
    margin-bottom: -50px;
}

.newsletter{
    background: url(../../assets/Newsletter.png);
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    height: 30vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    background-attachment: fixed;
}
.newsletter .newsletter-text{
    width: 50%;
}
.newsletter .newsletter-text h5{
    font-weight: 600;
    font-size: 1.3em;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
}
.newsletter .newsletter-text span{
    color: gold;
}
.newsletter-form{
    width: 40%;
}
.newsletter-form input{
    height: 3.2em;
    width: 55%;
    background: white;
    outline: none;
    border-radius: 8px 0 0 8px;
    font-size: 15px;
    border: none;
}
.newsletter-form button{
    height: 3.0em;
    background: #088178;
    outline: none;
    border-radius: 0 8px 8px 0;
}