.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 40px 60px rgba(255, 255, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}
.header .travel-button button{ 
    background: linear-gradient(to right, black, #6c63ff);
    border-radius: 20px;
    outline: none;
}
@media (max-width: 770px){
    .header{
        flex-direction: column;
    }
    .travel-button{
        display: none;
    }
}